*{
    margin: 0;
    padding: 0;
    border: 0;
  
     
}
body{
    
    font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  
      
}

.container{
    height: 790px;
    width: 970px;
    margin: auto;
    background-color: #245076;
    margin-top: 20px;
}

.logo_phyton{
    height: 95px;
    width: 305px;
    margin-top: 20px;
    margin-left: 30px;
    display: inline-block;
    background-image: url(img/python.png);
    background-size: cover;
}
.busqueda-y-optexto{
    height: 80px;
    width: 275px;
    margin-left: 342px;
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;

}

.op_texto{
    height: 20px;
    width: 180px;
    margin-left: 95px;
    font-size: 14px;
}

.op_texto p{
    display: inline-block;
}

.op_texto a{
    color:#ffd42e;
}

.parrafo_blanco{
    color: white;    
}

.contorno_buscador{
    height: 60px;
    width: 275px;
    background-color: #444444;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.5);

}

#barra_de_busqueda{
    height: 36px;
    width: 160px;
    margin-top: 12px;
    margin-left: 38px;
    border: 2px solid;
    border-left-color:#9a9a9a;
    border-top-color: #9a9a9a;
    border-bottom-color:#eeeeee ;
    border-right-color: #eeeeee;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 12px;
}

.marco_boton_go{
    height: 28px;
    width: 39px;
    display: inline-block;
    background: linear-gradient(325deg, hsla(0, 0%, 42%, 1) 48%, hsla(0, 0%, 75%, 1) 55%);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    padding: 2px;
    margin-left: 1px ;
}


button {
        height: 28px;
        width: 39px;
        border-radius: 5px;
        background-color:#245076;
        color: white;
        font-size: 12px;
        cursor: pointer;           
}

nav{
    height: 45px;
    width: 828px;
    background: linear-gradient(0deg, hsla(208, 53%, 44%, 1) 0%, hsla(207, 41%, 48%, 1) 50%, hsla(208, 54%, 44%, 1) 100%);
    box-shadow:3px 3px 0px 0 rgba(0, 0, 0, 0.5); 
    border-radius: 5px;
    margin-left: 90px;
    margin-top: 5px;
    padding-left: 17px;

}
nav div{
    height: 30px;
    width: 120px;
    margin-top: 5px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    letter-spacing: -1px;
       
}

nav h2 a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    
     
}

.link_documentation{
    height: 30px;
    width: 210px;
}
.link_event{
    height: 30px;
    width: 70px;
}

aside{
    height: 200px;
    width: 220px;
    margin-top: 40px;
    margin-left:70px ;
    background-color: #245076;
    color:#ffd42e ;
    display: inline-block;
    vertical-align: top;
     
}

aside a{
color: white;
font-size: large;
}

.link_docs{
    margin-left: 110px;   
}

.link_talks{
    margin-left: 60px;
}
.link_guide{
    margin-left: 65px;
}
.link_devguide{
    margin-left: 60px;
}
.link_pep{
    margin-left: 90px;
}
.link_py{
    margin-left: 75px;
}
.link_faq{
    margin-left: 112px;
}

main{
    height: 285px;
    width: 606px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    
    

}

.texto_principal{
    height: 80px;
    width: 620px;
    text-align: center;
    color: white;
    font-size: 15px;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;

}

.texto_resaltado{
    height: 160px;
    width: 490px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:#ffd42e ;
    
}
.texto_resaltado p{
    transform: skew(170deg);
    font-size:21px;
}

.frasexd{
    text-align: center;
    color: white;
    font-size: 18px;
}

section{
    height: 220px;
    width: 970px;
    background-color: white;
    box-shadow: 0px -2px 2px  rgba(0, 0, 0, 0.5); 
}
section h3{
    font-size:20px;
    font-weight: 600;
    letter-spacing: -1px;
}

.seccion_izq{
    height: 220px;
    width: 270px;
    margin-left: 120px;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 1.1;
    font-size: 14px;
    
}



.seccion_der{
    height: 220px;
    width: 320px;
    background-color: white;
    display: inline-block;
    text-align: center;
    margin-left: 150px;
    line-height: 1.1;
    font-size: 14px;
}
.seccion_izq p, .seccion_der p{
    margin-top: 5px;
}
span a{
    color: #73a7d5;
    text-decoration: none;
    font-size: 12px;
}


.decoracion{
    height: 4px;
    width: 400px;
    background-color:#73a7d5 ;
    margin-top: 10px;
    margin-left: -25px;
    margin-bottom: 5px;
  
}


.decoracion2{
    height: 4px;
    width: 400px;
    background-color:#73a7d5;
    margin-top: 10px;
    margin-left: -22px;
    margin-bottom: 5px;
}



.links_dec_izq{

    height: 60px;
    width: 220px;
    margin-left: 36px;
    margin-top: 1px;    
}




.links_dec_der{
    height: 60px;
    width: 220px;
    margin-left: 62px;
    margin-top: 1px; 
}
.links_dec_izq a, .links_dec_der a{
    text-decoration: none;
    font-size: 14px;
    line-height: 1.2 ;
    color:#73a7d5 ;
}

.links_dec_izq ul, .links_dec_der ul{
    list-style-type: square;
}



footer{
    height: 50px;
    width: 900px;   
}

footer div{
    text-align: center;
    
    
}
footer a{
    color:#85b7e3 ;
    text-decoration: none;
    font-size: 18px;
    
}
footer p{
    text-align: center;
    font-size: 10px;
    color: #85b7e3;
    margin-top: 9px;
}
.contorno_de_footer{
    height: 52px;
    width: 970px;
    background: linear-gradient(0deg, rgba(51,117,173,1) 0%, rgba(36,80,118,1) 100%);

}
.links_footer{
    margin-top: 45px;
}





